
<div class="row">

  <div class="col-lg-12">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-sign-in"></i> Sign in
        <div class="clearfix"></div>
      </div>
      <div class="widget-body">

        <% if(flash && flash.err) { %>
        <% Object.keys(flash.err).forEach(function(error) { %>
        <div class="alert alert-danger" role="alert"><%- flash.err[error].message %></div>
        <% }) %>
        <hr />
        <% } %>

        <form action="/session/create" method="POST" class="form-horizontal form-signin" role="form">

          <div class="form-group">
            <label for="label" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" name="email" placeholder="Email address" />
            </div>
            <div class="col-sm-5">
              <div class="input-mask">Please check it twice!</div>
            </div>
          </div>

          <div class="form-group">
            <label for="label" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-5">
              <input type="password" class="form-control" name="password" placeholder="" id="password" />
            </div>
            <div class="col-sm-5">
              <div class="input-mask">At least 6 characters</div>
            </div>
          </div>

          <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in"/>
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />

        </form>

      </div>
    </div>
  </div>

</div>
