<div class="row">

  <div class="col-lg-12">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-share-alt-square"></i> Agreement Request
        <div class="clearfix"></div>
      </div>
      <div class="widget-body narrow">

        <% if(flash && flash.err) { %>
        <% Object.keys(flash.err).forEach(function(error) { %>
        <div class="alert alert-danger" role="alert"><%- flash.err[error].message %></div>
        <% }) %>
        <hr />
        <% } %>
        <% if(flash && flash.msg) { %>
        <% Object.keys(flash.msg).forEach(function(msg) { %>
        <div class="alert alert-success" role="alert"><%- flash.msg[msg].message %></div>
        <% }) %>
        <hr />
        <% } %>

        <form action="/agreement/create" method="POST" class="form-horizontal" role="form">

          <div class="form-group">
            <label for="label" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="title" placeholder="Agreement name to display" />
            </div>
            <div class="col-sm-2">
              <div class="input-mask"></div>
            </div>
          </div>

          <div class="form-group">
            <label for="label" class="col-sm-2 control-label">Note</label>
            <div class="col-sm-8">
              <textarea class="form-control markdown-editor" data-provide="markdown" rows="6" name="note" placeholder="Description of this agreement."></textarea>
            </div>
            <div class="col-sm-2">
              <div class="input-mask"></div>
            </div>
          </div>

          <hr />
          <div class="form-group">
            <label for="label" class="col-sm-2 control-label">Outgoing Filters</label>
            <div class="col-sm-8">
              <select class="selectpicker"
                      data-width="100%"
                      name="outgoingfilters"
                      multiple>

                <optgroup label="Common">
                  <option data-subtext="<br />Latest indexed torrents (w/o metadata).">indexed</option>
                  <option data-subtext="<br />Latest downloaded torrents (w/ metadata).">downloaded</option>
                  <option data-subtext="<br />Latest torrents with media info.">media</option>
                  <option data-subtext="<br />Latest torrents with updated peers.">peers</option>
                </optgroup>

              </select>
            </div>
            <div class="col-sm-2">
              <div class="input-mask"></div>
            </div>
            <div class="row">
              <div class="col-sm-offset-2 col-sm-10">
                <span class="help-block form-group-inline-message">
                  Which kind of data your node will propagate to the other part.
                </span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="label" class="col-sm-2 control-label">All sources (Outgoing)</label>
            <div class="col-sm-10">
              <input type="checkbox" class="" value="true" name="outgoingallsources" />
              Check to propagate torrents that were updated by other nodes other than you, except the remote node of
              this agreement. Otherwise, only propagate torrents updated by this node.
            </div>
          </div>

          <hr />
          <div class="form-group">
            <label for="label" class="col-sm-2 control-label">Incoming Filters</label>
            <div class="col-sm-8">
              <select class="selectpicker"
                      data-width="100%"
                      name="incomingfilters"
                      multiple>

                <optgroup label="Common">
                  <option data-subtext="<br />Latest indexed torrents (w/o metadata).">indexed</option>
                  <option data-subtext="<br />Latest downloaded torrents (w/ metadata).">downloaded</option>
                  <option data-subtext="<br />Latest torrents with media info.">media</option>
                  <option data-subtext="<br />Latest torrents with updated peers.">peers</option>
                </optgroup>

              </select>
            </div>
            <div class="col-sm-2">
              <div class="input-mask"></div>
            </div>
            <div class="row">
              <div class="col-sm-offset-2 col-sm-10">
                <span class="help-block form-group-inline-message">
                  Which kind of data the remote node will propagate to you.
                </span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="label" class="col-sm-2 control-label">All sources (Incoming)</label>
            <div class="col-sm-10">
              <input type="checkbox" class="" value="true" name="incomingallsources" />
              Check to propagate torrents that were updated by other nodes other than the remote node and you. Otherwise, only propagate torrents updated by the remote node.
            </div>
          </div>





          <input type="submit" class="btn btn-lg btn-primary btn-block" value="Send"/>
          <input type="hidden" name="receiver" value="<%= receiver %>" />
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />

        </form>


      </div>
    </div>
  </div>
</div>