
.narrow {
  font-family: Verdana,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: normal;
}

.list-group {
  .list-group-item {
    .toolbox-right {
      position: absolute;
      right: 15px;
      z-index: 1;
    }
    .toolbox-left {
      position: absolute;
      left: 15px;
      z-index: 1;
    }
    .label {
      padding: 10px;
      opacity: 0.6;
      display: inline-block;
    }
    .label:hover {
      opacity: 0.9;
      cursor: pointer;
    }
    .label.disabled {
      cursor: default;
      opacity: 0.25;
    }
  }
  .list-group-item-heading {
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.05em;
    opacity: 0.5;
    /*color: #6699FF;#3399ee*/
    color: #000;
    margin: 0 75px;
    background-color: rgba(75, 127, 255, 0.2);
    padding: 2px 5px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .list-group-item-collapsed {
    display: none;
  }
}

.inline-pseudobox {
  background-color: #eee;
  border: 1px solid #999;
  border-radius: 4px;
  color: green;
  padding: 0 5px;
  display: inline-block;
}

.col-lg-6.no-padding {
  padding: 0;
}

.btn-toggle {
  input[type="checkbox"] {
    pointer-events: none;
  }
}

input[type="checkbox"] {
  margin: 10px 0 0;
}

.tooltip {
  &.top .tooltip-arrow {
    border-top-color: rgba(0, 0, 0, 0.65);
  }
  .tooltip-inner {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.65);
    max-width: 400px;
    padding: 10px;
  }
}

.loading-content {
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
}

.chart-wrapper:not(.widget) .chart-container {
  padding-bottom: 20px;
  width: 100%;
}

.highcharts-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.row.form-buttons {
  text-align: center;
  margin: 20px 15px 30px 15px !important;

  > div {
    float: none;
    display: inline-block;

  }
}

.btn {
  opacity: 0.75;
}
