<div class="row">

  <div class="col-lg-12">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-user"></i> User profile
        <div class="clearfix"></div>
      </div>
      <div class="widget-body">

      <h1><%= user.name %> </h1>
	<% if (user.admin) { %>
		<img src="/images/admin.png">admin
	<% } else { %>
			<img src="/images/pawn.png">pawn
	<% } %>		
	<h3><%= user.title %> </h3>
	<hr>
	<h3>contact: <%= user.email %> </h3>
	
	<a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>">Edit</a>

      </div>
    </div>
  </div>

</div>
